<!-- t.string   "description"
t.string   "origin"
t.string   "destination"
t.decimal  "cost"
t.integer  "containers_needed" -->

<h1>Job show</h1>

<h3>Description</h3>
<p><%=@job.description%></p>
<h3>Origin</h3>
<p><%=@job.origin%></p>
<h3>Destination</h3>
<p><%=@job.destination%></p>
<h3>Cost</h3>
<p><%=@job.cost%></p>
<h3>Containers Needed</h3>
<p><%=@job.containers_needed%></p>

<%= link_to "Edit", edit_job_path(@job) %>
