<h1>Boats</h1>

<%= link_to "New Ship", new_boat_path %>
<table border="1" cellpadding="10">
  <tr>
    <th>Ship Name</th>
    <th>Container Capacity</th>
    <th>Location</th>
  </tr>
<% @boats.each do |boat| %>
<tr>
  <td>
    <%=link_to boat.name, boat_path(boat) %> </li>
  </td>
  <td><%=boat.container_capacity%></td>
  <td><%=boat.location%></td>
</tr>
<%end%>
</table>

<% @boats.each do |boat| %>
<% boat.jobs.each do |job| %>
<%= job.description %>
<% end %>
<% end %>
